# 환경변수
.env
*.env

# Spring Boot
backend/build/
backend/.gradle/
backend/out/

# Python
image-agent/__pycache__/
image-agent/.venv/

# React
frontend/node_modules/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db